
<form
[formGroup]="summary_form"
style="width: 100%;">
    <fieldset class="border p-2">
        <legend class="float-none w-auto p-2">Summary Delivery Report</legend>

        <div class="form-group">
            <div class="form-group">
                <table>
                    <tr>
                        <td> <label for="sFormInput1">Name : </label></td>
                        <td class="w-40"> <input id="sFormInput1" class="form-control" type="text"
                                value="VP – Vasudev Pandurang Nayak" placeholder="Your full name"
                                formControlName="Name">
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Current Status</th>
                        <th scope="col">Status Report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Overall 
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input style="background-color:green;" class="form-check-input" type="radio"
                                     id="inlineRadio1" value="g" 
                                    formControlName="OverallStatus" Name="OverallStatus"
                                   >

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:yellow;" class="form-check-input" type="radio"
                                   id="inlineRadio2" value="y" 
                                    formControlName="OverallStatus" Name="OverallStatus"
                                  >

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:red;" class="form-check-input"  type="radio"
                                    id="inlineRadio3" value="r" 
                                    formControlName="OverallStatus">                                  

                            </div>
                        </td>
                        <td><textarea id="sFormInput4" class="form-control" formControlName="Overall"></textarea>
                             <!-- <small *ngIf="summary_form.hasError('required', 'Overall')">Field is required!</small> -->
                            </td>
                    </tr>
                    
                    <!-- <tr>
                        <td>Schedule
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input style="background-color:green;" class="form-check-input" type="radio"
                                    name="ScheduleStatus" id="inlineRadio1" value="g" formControlName="ScheduleStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:yellow;" class="form-check-input" type="radio"
                                    name="ScheduleStatus" id="inlineRadio2" value="y" formControlName="ScheduleStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:red;" class="form-check-input" type="radio"
                                    name="ScheduleStatus" id="inlineRadio3" value="r" formControlName="ScheduleStatus">

                            </div>
                        </td>
                        <td><textarea id="sFormInput4" class="form-control" formControlName="Schedule"></textarea></td>
                    </tr>
                    <tr>
                        <td>Resource
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input style="background-color:green;" class="form-check-input" type="radio"
                                    name="ResourceStatus" id="inlineRadio1" value="g" formControlName="ResourceStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:yellow;" class="form-check-input" type="radio"
                                    name="ResourceStatus" id="inlineRadio2" value="y" formControlName="ResourceStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:red;" class="form-check-input" type="radio"
                                    name="ResourceStatus" id="inlineRadio3" value="r" formControlName="ResourceStatus">

                            </div>
                        </td>
                        <td><textarea id="sFormInput4" class="form-control" formControlName="Resource"></textarea></td>
                    </tr>-->
                    <tr>
                        <td>Risks
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input style="background-color:green;" class="form-check-input" type="radio"
                                    name="RiskStatus" id="inlineRadio1" value="g" formControlName="RiskStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:yellow;" class="form-check-input" type="radio"
                                    name="RiskStatus" id="inlineRadio2" value="y" formControlName="RiskStatus">

                            </div>
                            <div class="form-check form-check-inline">
                                <input style="background-color:red;" class="form-check-input" type="radio"
                                    name="RiskStatus" id="inlineRadio3" value="r" formControlName="RiskStatus">

                            </div>
                        </td>
                        <td><textarea id="sFormInput4" class="form-control" formControlName="Risk"></textarea></td>
                    </tr>
            </table>

        </div>
        <div class="col-lg-8">
            <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
            <!-- <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart> -->
          </div>

      <!--  <button class="btn btn-primary float-end ms-1 p-1" type="submit"> Submit </button>
        <button class="btn btn-primary float-end p-1" type="submit"> Cancel </button>
        -->
    </fieldset>
</form>
